$mainFont: "Roboto Slab";
$secondaryFont: "Montserrat";
$mainFontColor: rgb(119, 119, 119);
$buttonsColor: rgb(254, 209, 54);
$headerBackgroundImage: "../img/header_background_image.png";


*, *::before, *::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: $mainFont, 'Arial', sans-serif;
    font-size: 14px; 
    color: $mainFontColor;   
    background-color: rgb(255, 255, 255);
}

header.header_background {
    min-height: 700px;      
    background-image: url($headerBackgroundImage);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.menu_font_style {
    color: rgb(255, 255, 255);
    font-family: $secondaryFont, "Arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo {
    float: left;
    width: 20%;
    padding: 35px 0px 0px 0px;
}

.hidden_big {
    @extend .menu_font_style;
    display: none;
    float: right;
    padding: 35px 0px 0px 0px;
    text-align: right;

    &:hover{
        border-bottom: 1px solid white;
    }

    &:active{
        border-bottom: 1px solid black;
        color: black;
    }
}

ul.header_menu {
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 35px 0px 0px 0px;
    overflow: hidden;
    float: right;
    text-align: right;
    
    li{
        padding-left: 30px;
        display: inline-block;
        a {
            @extend .menu_font_style;
            padding: 0 5px;
            text-align: center;
            
            &:hover{
                background-color: rgba(255, 255, 255, 0.4);            
            }

            &:active{
                background-color: rgba(255, 255, 255, 0.8);
                color: black;
            }
        }
    }   
}

.greeting_block {
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 60px;
    p {
        padding: 0;
        margin: 0;
        font-style: italic;
        font-size: 40px;
        font-weight: 200;
    }

    h1 {
        padding-top: 50px;
        margin: 0;
        text-transform: uppercase;
        font-family: $secondaryFont, "Arial", sans-serif;
        font-size: 75px;
        font-weight: 700;
    }
}

.button_wrapper {
    text-align: center;
    padding-bottom: 60px;
    .button {    
        padding: 25px 48px;
        text-decoration: none;
        font-family: $secondaryFont, "Arial", sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        background-color: $buttonsColor;

        &:hover {
            background-color: darken($buttonsColor, 10%);
        }

        &:active {
            background-color: darken($buttonsColor, 20%);
            color: darken(white, 20%);
        }
    }
}

@media screen and (max-width: 1014px) {

    .wrapper {
        width: 98%;
    }

    .greeting_block {
        padding-top: 150px;
        
        padding-bottom: 40px;
        p {            
            font-size: 30px;
        }
    
        h1 {
            padding-top: 40px;            
            font-size: 65px;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 810px) {    
    .greeting_block {
        padding-top: 120px;
        p {            
            font-size: 30px;
        }
    
        h1 {
            padding-top: 35px;            
            font-size: 55px;
            font-weight: 700;
        }
    }

    .button_wrapper {        
        padding-bottom: 0;
    }
}

@media screen and (max-width: 720px) {
    .greeting_block {
        padding-top: 120px;        
        padding-bottom: 35px;
        p {            
            font-size: 25px;
        }
    
        h1 {
            padding-top: 25px;            
            font-size: 45px;
            font-weight: 700;
        }
    }

    .button_wrapper {
        .button {
            padding: 15px 30px;
        }
    }

    ul.header_menu {
        li{
            padding-left: 15px;
        }
        
    }
}

@media screen and (max-width: 620px) {

    header {
        position: relative;
    }

    .logo {
        width: 50%;
    }

    .hidden_big {
        display: block;
        position: relative;
    }

    .close_menu {
        display: none;
    }

    ul.header_menu {
        position: absolute;
        padding: 0;      
        text-align: right;
        z-index: 100;
        top: 60px;
        width: 25%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        
        li{
            padding-left: 0;            
            display: block;
            a {
                color: rgb(255, 255, 255);                
                line-height: 0px;       
            }
        } 
    }

    .greeting_block {
        padding-top: 80px;        
        padding-bottom: 20px;
        p {            
            font-size: 20px;
        }
    
        h1 {
            padding-top: 20px;            
            font-size: 35px;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 470px) {
    .greeting_block {     
        padding-bottom: 20px;
        p {            
            font-size: 15px;
        }
    
        h1 {
            padding-top: 10px;            
            font-size: 25px;
            font-weight: 700;
        }
    }

    .button_wrapper {
        .button {
            font-size: 13px;
            padding: 12px 20px;
        }
    }
}

@media screen and (max-width: 390px) {
    .logo {
        padding: 0;
    }

    .hidden_big {  //this class need to be renamed
        padding: 0;
    }

    .greeting_block {
        padding-top: 41px;
    }

    .menu_font_style {
        font-size: 12px;
    }

    ul.header_menu {
        top: 20px;
    }
}