*, *::before, *::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", "Arial", serif;
  font-size: 14px;
  color: #777777;
  background-color: white;
}

header.header_background {
  min-height: 100%;
  background-image: url("../img/header_background_image.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

h1, h3, .menu_font_style, .small_screen_menu_button, ul.header_menu li a, p {
  margin: 0;
  padding: 0;
}

h3, .menu_font_style, .small_screen_menu_button, ul.header_menu li a {
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
}

.menu_font_style, .small_screen_menu_button, ul.header_menu li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  font-weight: 400;
}

.logo {
  float: left;
  width: 20%;
  padding: 35px 0px 0px 0px;
}

.small_screen_menu_button {
  display: none;
  float: right;
  padding: 35px 0px 0px 0px;
  text-align: right;
}

.small_screen_menu_button:hover {
  border-bottom: 1px solid white;
}

.small_screen_menu_button:active {
  border-bottom: 1px solid black;
  color: black;
}

ul.header_menu {
  width: 80%;
  list-style-type: none;
  margin: 0;
  padding: 35px 0px 0px 0px;
  overflow: hidden;
  float: right;
  text-align: right;
}

ul.header_menu li {
  padding-left: 30px;
  display: inline-block;
}

ul.header_menu li a {
  padding: 0 5px;
  text-align: center;
}

ul.header_menu li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

ul.header_menu li a:active {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.greeting_block {
  text-align: center;
  color: white;
  padding-top: 200px;
  padding-bottom: 60px;
}

.greeting_block p {
  font-style: italic;
  font-size: 40px;
  font-weight: 200;
}

.greeting_block h1 {
  padding-top: 50px;
  text-transform: uppercase;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 75px;
  font-weight: 700;
}

.button_wrapper {
  text-align: center;
  padding-bottom: 60px;
}

.button_wrapper .button, .contact_form .button_wrapper input.submit_button {
  padding: 25px 48px;
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: #fed136;
}

.button_wrapper .button:hover, .contact_form .button_wrapper input.submit_button:hover {
  background-color: #fec503;
}

.button_wrapper .button:active, .contact_form .button_wrapper input.submit_button:active {
  background-color: #cd9f01;
  color: #cccccc;
}

.information_block {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.information_block p {
  font-style: italic;
  color: #777777;
  font-size: 16px;
}

ul.services_list, ul.portfolio_list, ul.about_list, ul.team_list, ul.technologies_list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul.services_list b, ul.portfolio_list b, ul.about_list b, ul.team_list b, ul.technologies_list b {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  color: black;
  line-height: 75px;
}

ul.services_list p, ul.portfolio_list p, ul.about_list p, ul.team_list p, ul.technologies_list p {
  padding: 0px 10px;
  font-size: 14px;
  font-style: normal;
}

ul.services_list li.services_list_item, ul.portfolio_list li.services_list_item, ul.about_list li.services_list_item, ul.team_list li.services_list_item, ul.technologies_list li.services_list_item {
  padding-top: 190px;
  text-align: center;
  background-image: url(../img/box.png), url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: center;
}

ul.services_list li.services_list_item img, ul.portfolio_list li.services_list_item img, ul.about_list li.services_list_item img, ul.team_list li.services_list_item img, ul.technologies_list li.services_list_item img {
  border: 4px solid #fed136;
  border-radius: 30px;
  padding: 10px;
}

ul.services_list li.services_list_item:nth-child(2), ul.portfolio_list li.services_list_item:nth-child(2), ul.about_list li.services_list_item:nth-child(2), ul.team_list li.services_list_item:nth-child(2), ul.technologies_list li.services_list_item:nth-child(2) {
  background-image: url(../img/laptop.png), url(../img/circle.png);
}

ul.services_list li.services_list_item:nth-child(3), ul.portfolio_list li.services_list_item:nth-child(3), ul.about_list li.services_list_item:nth-child(3), ul.team_list li.services_list_item:nth-child(3), ul.technologies_list li.services_list_item:nth-child(3) {
  background-image: url(../img/locked.png), url(../img/circle.png);
}

.bg_gray {
  background-color: #f7f7f7;
}

ul.portfolio_list {
  border: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul.portfolio_list b {
  line-height: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}

ul.portfolio_list p {
  padding-bottom: 30px;
}

ul.portfolio_list li.portfolio_list_item {
  margin-top: 50px;
  background-color: white;
}

ul.about_list {
  flex-direction: column;
}

ul.about_list li.about_list_item {
  position: relative;
  display: flex;
  width: 62%;
  padding-top: 70px;
  text-align: right;
  z-index: 100;
}

ul.about_list li.about_list_item div {
  display: inline-block;
  padding: 0 20px;
}

ul.about_list li.about_list_item b {
  line-height: 30px;
}

ul.about_list li.about_list_item p {
  padding: 15px 0px 0px 0px;
  line-height: 20px;
}

ul.about_list li.about_list_item:after {
  content: "";
  display: block;
  width: 3px;
  background-color: #f1f1f1;
  height: 75px;
  position: absolute;
  top: 252px;
  right: 111px;
}

ul.about_list li.about_list_item:nth-child(2n) {
  text-align: left;
  margin-left: 356px;
}

ul.about_list li.about_list_item:nth-child(2n):after {
  content: "";
  display: block;
  width: 3px;
  background-color: #f1f1f1;
  height: 75px;
  position: absolute;
  top: 252px;
  left: 111px;
}

ul.about_list li.about_list_item:last-child {
  align-self: center;
  width: 25%;
}

ul.about_list li.about_list_item:last-child::after {
  display: none;
}

ul.about_list li.about_list_item:last-child div {
  text-align: center;
}

ul.about_list li.about_list_item:last-child div p {
  padding: 39px 42px;
  height: 183px;
  background-image: url("../img/container_round.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.team_block {
  padding: 100px 75px;
}

ul.team_list {
  padding-top: 75px;
  padding-bottom: 30px;
}

ul.team_list li.team_list_item b {
  line-height: 45px;
}

ul.team_list li.team_list_item p {
  padding-bottom: 10px;
}

ul.team_list li.team_list_item a i {
  width: 40px;
  height: 40px;
  padding-top: 7px;
  color: black;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 22px;
}

ul.team_list li.team_list_item a i:hover {
  color: #777777;
  border-color: #777777;
}

ul.team_list li.team_list_item a i:active {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

ul.team_list li.team_list_item a:not(:first-of-type) {
  margin-left: 5px;
}

ul.team_list li.team_list_item p:nth-last-child {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.technologies {
  padding: 40px 0px;
}

.technologies ul.technologies_list {
  padding: 0 80px;
}

.contacts {
  background-color: black;
  background-image: url("../img/Map_image.png");
  background-repeat: no-repeat;
  background-position: right 108px;
}

.contacts h3, .contacts .menu_font_style, .contacts .small_screen_menu_button, .contacts ul.header_menu li a, ul.header_menu li .contacts a {
  color: white;
}

.contacts p {
  margin-bottom: 40px;
}

.contact_form input, .contact_form textarea {
  border: 0;
  outline: 0;
  border-radius: 7px;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 23px;
  resize: none;
}

.contact_form input::-webkit-input-placeholder, .contact_form textarea::-webkit-input-placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #bbbbbb;
  text-transform: uppercase;
}

.contact_form input:-moz-placeholder, .contact_form textarea:-moz-placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #bbbbbb;
  text-transform: uppercase;
}

.contact_form input::-moz-placeholder, .contact_form textarea::-moz-placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #bbbbbb;
  text-transform: uppercase;
}

.contact_form input:-ms-input-placeholder, .contact_form textarea:-ms-input-placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #bbbbbb;
  text-transform: uppercase;
}

.contact_form textarea {
  height: 211px;
}

.contact_form input {
  height: 55px;
}

.contact_form .half {
  float: left;
  width: 48%;
}

.contact_form .left {
  margin-right: 15px;
}

.contact_form .right {
  width: 50%;
  margin-bottom: 30px;
}

.contact_form .clearfix:before,
.contact_form .clearfix:after {
  content: " ";
  display: table;
}

.contact_form .clearfix:after {
  clear: both;
}

.contact_form .button_wrapper input.submit_button {
  padding: 0;
  margin: 0 auto;
  width: 240px;
  border-radius: 0;
}

.contact_form .button_wrapper input.submit_button:hover, .contact_form .button_wrapper input.submit_button:active {
  cursor: pointer;
}

footer {
  display: flex;
  padding: 25px 0px;
}

footer p {
  display: inline-block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
}

footer a {
  display: inline-block;
  text-align: center;
  color: white;
  width: 40px;
  height: 40px;
  padding-top: 4px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50px;
  font-size: 22px;
}

footer a:hover {
  background-color: #333333;
}

footer a:active {
  background-color: white;
  color: black;
}

footer a:not(:first-of-type) {
  margin-left: 5px;
}

footer .footer_social {
  margin-left: 112px;
  display: inline-block;
}

@media screen and (max-width: 1014px) {
  .wrapper {
    width: 98%;
  }
  .greeting_block {
    padding-top: 150px;
    padding-bottom: 40px;
  }
  .greeting_block p {
    font-size: 30px;
  }
  .greeting_block h1 {
    padding-top: 40px;
    font-size: 65px;
    font-weight: 700;
  }
}

@media screen and (max-width: 960px) {
  ul.about_list li.about_list_item {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  ul.about_list li.about_list_item::after {
    display: none;
  }
  ul.about_list li.about_list_item div:last-of-type {
    order: -1;
  }
  ul.about_list li.about_list_item:nth-child(2n) {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  ul.about_list li.about_list_item:nth-child(2n)::after {
    display: none;
  }
  ul.about_list li.about_list_item:nth-child(2n) div:last-of-type {
    order: 1;
  }
  ul.about_list li.about_list_item:last-child {
    width: 100%;
  }
  .team_block {
    padding: 0px 75px;
  }
  .team_block ul.team_list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .contact_form .half {
    width: 100%;
  }
  .contact_form .right {
    width: 100%;
  }
  .contacts p {
    margin-bottom: 0;
  }
  footer {
    text-align: center;
  }
  footer p {
    display: block;
    margin-bottom: 5px;
  }
  footer .footer_social {
    margin-left: 0;
  }
}

@media screen and (max-width: 892px) {
  .greeting_block {
    padding-top: 120px;
  }
  .greeting_block p {
    font-size: 30px;
  }
  .greeting_block h1 {
    padding-top: 35px;
    font-size: 55px;
    font-weight: 700;
  }
  .information_block {
    padding: 0;
  }
  .information_block .services_list, .information_block ul.portfolio_list, .information_block ul.about_list, .information_block ul.team_list, .information_block ul.technologies_list {
    flex-direction: column;
  }
  .bg_gray {
    background-color: white;
  }
  ul.services_list li.services_list_item, ul.portfolio_list li.services_list_item, ul.about_list li.services_list_item, ul.team_list li.services_list_item, ul.technologies_list li.services_list_item {
    padding-top: 145px;
    padding-left: 0;
  }
  ul.services_list li.services_list_item b, ul.portfolio_list li.services_list_item b, ul.about_list li.services_list_item b, ul.team_list li.services_list_item b, ul.technologies_list li.services_list_item b {
    line-height: 20px;
  }
  ul.services_list li.services_list_item:not(:first-child), ul.portfolio_list li.services_list_item:not(:first-child), ul.about_list li.services_list_item:not(:first-child), ul.team_list li.services_list_item:not(:first-child), ul.technologies_list li.services_list_item:not(:first-child) {
    padding-left: 0px;
  }
  ul.portfolio_list p {
    padding-bottom: 0;
  }
  ul.portfolio_list li.portfolio_list_item {
    margin-top: 10px;
  }
  ul.about_list li.about_list_item {
    padding-top: 0;
  }
  .technologies {
    padding: 0;
  }
  .technologies ul.technologies_list {
    padding: 0 80px;
  }
  .technologies ul.technologies_list li.technologies_list_item {
    margin-top: 15px;
  }
}

@media screen and (max-width: 720px) {
  .greeting_block {
    padding-top: 120px;
    padding-bottom: 35px;
  }
  .greeting_block p {
    font-size: 25px;
  }
  .greeting_block h1 {
    padding-top: 25px;
    font-size: 45px;
    font-weight: 700;
  }
  .button_wrapper .button, .contact_form .button_wrapper input.submit_button {
    padding: 15px 30px;
  }
  ul.header_menu li {
    padding-left: 15px;
  }
}

@media screen and (max-width: 620px) {
  header {
    position: relative;
  }
  .logo {
    width: 50%;
  }
  .small_screen_menu_button {
    display: block;
    position: relative;
  }
  .close_menu {
    display: none;
  }
  ul.header_menu {
    position: absolute;
    padding: 0;
    text-align: right;
    z-index: 100;
    top: 60px;
    width: 25%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  ul.header_menu li {
    padding-left: 0;
    display: block;
  }
  ul.header_menu li a {
    color: white;
    line-height: 0px;
  }
  .greeting_block {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .greeting_block p {
    font-size: 20px;
  }
  .greeting_block h1 {
    padding-top: 20px;
    font-size: 35px;
    font-weight: 700;
  }
  .button_wrapper {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 470px) {
  .greeting_block {
    padding-bottom: 20px;
  }
  .greeting_block p {
    font-size: 15px;
  }
  .greeting_block h1 {
    padding-top: 10px;
    font-size: 25px;
    font-weight: 700;
  }
  .button_wrapper .button, .contact_form .button_wrapper input.submit_button {
    font-size: 13px;
    padding: 12px 20px;
  }
}

@media screen and (max-width: 390px) {
  .logo {
    padding: 0;
  }
  .small_screen_menu_button {
    padding: 0;
  }
  .greeting_block {
    padding-top: 41px;
  }
  .menu_font_style, .small_screen_menu_button, ul.header_menu li a {
    font-size: 12px;
  }
  ul.header_menu {
    top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */